/* You can add global styles to this file, and also import other style files */
html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-size:62.5%;  /* 1em = 10px */
}

h1 {
  font-size: 3.6em;
}

.wrapper {
  padding-left: 2em;
  padding-right: 2em;
}

i {
  cursor: pointer;
}
