/* TODO Create a container for global margins */

/******************************************************************************
 * Global
 *****************************************************************************/
/*html {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #e7e7e7;
}

.button {
    cursor: pointer;
    border: solid 2px #1c6698;
    padding: 1em 2em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 15em;    /* TODO Set <a> element size */
}

a.button {
    text-decoration: none;
    color: #1c6698;
    text-transform: uppercase;
}

/******************************************************************************
 * Nav
 *****************************************************************************/
.rectangle {
    background-color: #000000;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;   /* TODO Make it sticky */
}

.juan-maravilloso {
    margin: 0;
    margin-left: 2em;
    color: #a2a2a2;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.nav-elements .material-icons {
    color: #a2a2a2;
    margin-right: 1em;
}

.nav-elements ul {
    display: none;
}

/******************************************************************************
 * Header
 *****************************************************************************/
header {
    padding: 2em 2em;
}

header .welcome-message {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header .soy-juan-desarrolla {
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: normal;
}

header .button {
    margin-bottom: 1em;
}

/******************************************************************************
 * Sobre mi
 *****************************************************************************/
#sobre-mi {
    padding: 2em 2em;
    background-color: black;
}

#sobre-mi h2 {
    color: #a2a2a2;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.67px;
    text-align: center;
}

#sobre-mi .top-text,
#sobre-mi .bottom-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    color: #a2a2a2;
    text-align: center;
    margin-bottom: 1.5em;
}

#sobre-mi .top-text {
    font-weight: lighter;
}

#sobre-mi .bottom-text {
    font-weight: normal;
}

#sobre-mi iframe {
    margin-top: 2em;
    display: block;
    width: 90%;
    height: 50vw;
    margin: 0 auto;
    border: none;
    margin-bottom: 1em;
}

/******************************************************************************
 * Habilidades
 *****************************************************************************/
#habilidades h2 {
    margin: 0;
    padding: 2em 2em;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.67px;
    text-align: center;
}

.scrollable {
    padding: 0 2em 4em 2em;
    overflow: auto;
    white-space: nowrap;
}

.skill {
    display: inline-grid;
    background-color: black;
    border-radius: 5px;
    color: #a2a2a2;
    padding: 1em 2em;
    width: 15m;
    height: 365px;
    margin-right: 2em;
}

.skill:last-child {
    margin-right: 0;
}

.skill h3,
.skill h4 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 0.2em 0.2em;
    margin-top: 1px;
}

.skill h3 {
    border: solid 1.5px #a2a2a2;
    margin-bottom: 3em;
    height: fit-content;
}

.skill h4 {
    border: none;
    color: white;
    margin-bottom: 0;
}

.skill ul {
    margin: 0;
}

.skill p,
.skill li {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.skill p {
    margin-bottom: 2em;
}

.skill ul {
    list-style: none;
    padding-left: 0;
}